div {
    margin: 0;
    padding: 0;

    span {
        width: 24px;
        height: 24px;
        display: inline-block;
        border: 1px solid black;
        background-color: white;    
        margin: 1px;
        padding: 0;

        &.O {
            background-color: blue;
        }
    }
}